$background-light: #F5CD79;
$background-dark: #596275;

$foreground-light: #fff;
$foreground-dark: #fff;

html {
  --background-color: #{$background-light};
  --foreground-color: #{$foreground-light};
}

html.dark {
  --background-color: #{$background-dark};
  --foreground-color: #{$foreground-dark};
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #{$background-dark};
    --foreground-color: #{$foreground-dark};
  }
}

:export {
  backgroundLight: $background-light;
  backgroundDark: $background-dark;

  foregroundLight: $foreground-light;
  foregroundDark: $foreground-dark;
}

.fill-background {
  fill: var(--background-color);
}

.stroke-background {
  stroke: var(--background-color);
}

.stroke-foreground {
  stroke: var(--foreground-color);
}